{% extends "base.html" %}

{% load url from future %}

{% block header %}
      <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

          <a class="brand" href="/">Monitr</a>

          <ul class="nav">
            <li><a href="{% url 'systems' %}">Systems</a></li>
            <li><a href="{% url 'hosts' %}">Hosts</a></li>
            <li><a href="{% url 'resources' %}">Resources</a></li>
          </ul>
             
        </div>
      </div>
    </div>
{% endblock %}

{% block content %}
    <div class="hero-unit">
    <h1>Monitr</h1>
    <p>Real-time monitoring of Vumi systems and infrastructure</p>
    <p>
    <a class="btn btn-primary btn-large">
    Learn more
    </a>
    </p>
    </div>
{% endblock %}
